@font-face{
    font-family:'myfont';
    src: url(/Fonts/Retroica.ttf)format('truetype')
}
body{
    font-family: 'myfont';
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}
.background2{
    width: 1170PX;
    position:fixed;
    bottom: -500PX;
}
.mylogo{
    width: 200px;
    position: absolute;
    left: 110PX;
    right: 100PX;
    top: 25PX;
 
}
.welcomeselfp{
    width: 700PX;
    position: relative;
    top: 150PX;
    left: 225PX;
}
.allselfphotography{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 12PX;
    padding: 12px;
    margin-top: 300PX;

}
.allselfphotography img{
    z-index: 10;
    width: 359PX;
    height: auto;
    border: 5PX solid;
    border-color: rgb(255, 255, 255);
    box-shadow:2PX 3PX 3PX 1PX purple;
}
.gradient3{
    width: 800PX;
    position: absolute;
    top: -50PX;
    right: -400PX;
}
.gradient4{
    width: 800PX;
    position: absolute;
    top: 10PX;
    left: -500PX;
}
.gradient1{
    width: 1500PX;
    position: absolute;
    top: -1100PX;
    
}
.link{
  
    margin-bottom: 100PX;
    display: inline-block;
    z-index: 10;
    font-family: 'myfont';
    position: relative;
    
    margin-bottom: 100PX;
    margin-left: 480PX;
    margin-top: 40PX;

}
.link a{
    text-align: center;
    color: white;
    font-size: 15PX;

}



